.App {
  text-align: center;
<<<<<<< HEAD
  padding: 20px;
  font-family: sans-serif;
}

input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
}

.card {
  margin: 10px auto;
  padding: 15px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
=======
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
>>>>>>> 7d77fec48cec56e438f759d71513f188942d6abd
}
